.advantages {
  @include indents-mobile;
  padding-top: 27px;
  padding-bottom: 10px;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $dark-font-color;
}

.advantages__list {
  @include reset-indents;
  padding-top: 32px;
  padding-bottom: 10px;

  list-style: none;
}

.advantages__item {
  @include reset-indents;
  margin-bottom: 29px;

  &::before {
    content: "";

    display: block;

    width: 55px;
    height: 38px;
    margin-bottom: 16px;
  }

  &--eco::before {
    background: url("../img/icon-feature-flower.svg") no-repeat 8px top;
  }

  &--style::before {
    background: url("../img/icon-feature-money.svg") no-repeat;
  }

  &--like::before {
    background: url("../img/icon-feature-heart.svg") no-repeat 7px 6px;
  }

  &--made-with-love::before {
    background: url("../img/icon-feature-ball.svg") no-repeat 3px 3px;
  }

  &--fatherland::before {
    margin-left: -6px;
    background: url("../img/icon-feature-rocket.svg") no-repeat 0 4px;
  }

  &--packaging::before {
    background: url("../img/icon-feature-gift.svg") no-repeat 3px 2px;
  }
}

.advantages__text {
  @include reset-indents;
  width: 250px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $dark-font-color;
}

@media (min-width: $tablet-width) {
  .advantages {
    @include indents-tablet;
    padding-top: 48px;
    padding-bottom: 16px;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;

    padding-top: 49px;
  }

  .advantages__item {
    margin-bottom: 57px;
    margin-right: 39px;

    &--eco {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--like {
      order: 5;
    }

    &--made-with-love {
      order: 2;
    }

    &--fatherland {
      order: 4;
    }

    &--packaging {
      order: 6;
    }
  }

  .advantages__text {
    width: 295px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    @include reset-indents;
    padding-top: 59px;
    padding-bottom: 23px;
  }

  .advantages__title {
    margin-left: 171px;
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__list {
    padding-left: 176px;
    padding-right: 50px;
  }

  .advantages__item {
    margin-right: 54px;
  }
}
