.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 184px;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $dark-font-color;

  &:active {
    color: rgba($dark-font-color, 0.3);
  }
}

.copyright__link {
  width: 27px;
  height: 34px;

  background: url("../img/logo-htmlacademy.svg") no-repeat;
}
