.form-order__wrapper {
  margin-bottom: 25px;
  padding-bottom: 30px;
}

.form-order__footnote {
  display: block;

  margin-bottom: 31px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $grey-font-color;
}

.form-order__button {
  width: 100%;
}
