.modal {
  position: fixed;
  left: 50%;
  top: 50%;

  box-sizing: border-box;

  width: 322px;
  height: 338px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

  text-align: center;

  background-color: $main-background-color;

  border: 1px solid #c7c7c7;

  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  z-index: 100;

  transform: translate(-50%, -50%);
}

.modal__title {
  @include reset-indents;

  width: 160px;
  margin: 0 auto;
  margin-bottom: 13px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $dark-font-color;
  text-transform: uppercase;
}

.modal--close {
  display: none;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 568px;
    padding-top: 33px;
  }

  .modal__title {
    width: 380px;
    margin-bottom: 14px;

    font-size: 30px;
    line-height: 57px;
  }
}
