.order__title {
  @include reset-indents;
  @include indents-mobile;
  padding-top: 71px;
  padding-bottom: 75px;

  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $dark-font-color;

  background-color: $secondary-background-color;
}

.order__text {
  @include reset-indents;
  @include indents-mobile;
  padding-top: 22px;
  padding-bottom: 24px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $grey-font-color;
}

.order__form {
  @include indents-mobile;
}

@media (min-width: $tablet-width) {
  .order__title {
    @include indents-tablet;
    padding-top: 94px;
    padding-bottom: 93px;

    font-size: 43px;
    line-height: 50px;

    background: $secondary-background-color url("../img/bg-zigzag-fill.svg") repeat-x left bottom;
    background-size: 770px 23px;

    // border-top: 1px solid #dfdfdf;
  }

  .order__text {
    @include indents-tablet;
    padding-top: 61px;
    padding-bottom: 7px;

    font-size: 17px;
    line-height: 30px;
  }

  .order__form {
    @include reset-indents;
  }
}

@media (min-width: $desktop-width) {
  .order__title {
    @include indents-desktop;
    padding-top: 94px;
    padding-bottom: 121px;

    font-size: 53px;
    line-height: 57px;

    background-size: 1150px 34px;
  }

  .order__text {
    @include indents-desktop;
    padding-top: 104px;
    padding-right: 200px;
    padding-bottom: 57px;
    padding-left: 225px;
  }
}
