.page-header__wrapper {
  box-sizing: border-box;

  min-height: 80px;

  border-bottom: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-bottom: -55px;
  }

  .page-header__wrapper {
    z-index: 10;
    margin-bottom: -80px;

    border: none;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    text-align: center;
  }
}
