.personal-data__field-group {
  margin-bottom: 22px;
}

.personal-data__field-group:first-child {
  margin-top: 29px;
}

.personal-data__field-group:last-child {
  margin-bottom: 31px;
}

.personal-data__label {
  display: block;

  margin-bottom: 2px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $dark-font-color;
}

.personal-data__field {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-font-color;

  border-width: 0;
  border-bottom: 2px solid $dark-background-color;

  &:hover {
    border-color: $bright-font-color;
  }

  &:focus {
    outline: none;

    border-color: $bright-font-color;
  }

  &::placeholder {
    color: rgba($grey-font-color, 0.3);
  }

  &:-ms-input-placeholder {
    color: #c7c7c7;
  }

  &--phone:hover + .personal-data__svg--phone,
  &--phone:focus + .personal-data__svg--phone {
    color: #62d1ba;
  }

  &--mail:hover + .personal-data__svg--mail,
  &--mail:focus + .personal-data__svg--mail {
    color: #62d1ba;
  }
}

.personal-data__wrapper {
  position: relative;
}

.personal-data--single-field {
  .personal-data__field {
    margin-top: 9px;
    margin-bottom: 32px;
  }
}

.personal-data__svg {
  position: absolute;
  top: 34px;

  color: #cccccc;

  pointer-events: none;

  &--phone {
    right: 8px;
  }

  &--mail {
    right: 4px;
  }
}

@media (min-width: $tablet-width) {
  .personal-data {
    @include indents-tablet;
    display: flex;
    align-items: flex-start;
    padding-top: 67px;
    padding-bottom: 19px;

    background-color: $main-background-color;
  }

  .personal-data__wrap {
    width: 100%;
  }

  .personal-data__field-group {
    display: flex;

    margin-bottom: 21px;

    align-items: baseline;
  }

  .personal-data__field-group:first-child {
    margin-top: -20px;
  }

  .personal-data__title {
    flex-shrink: 0;
  }

  .personal-data__label {
    margin-right: 26px;

    font-size: 19px;
  }

  .personal-data__field {
    padding-left: 16px;
    padding-bottom: 12px;

    font-size: 19px;
    line-height: 26px;
  }

  .personal-data--single-field {
    display: block;

    padding-top: 47px;
    padding-bottom: 50px;

    background-color: $secondary-background-color;
  }

  .personal-data__wrapper {
    display: flex;
    align-items: baseline;
  }

  .personal-data__svg {
    top: 14px;

    &--phone {
      right: 26px;
    }

    &--mail {
      right: 22px;
    }
  }

  .personal-data__wrapper:first-child {
    margin-bottom: 21px;
  }

  .personal-data--single-field .personal-data__field {
    width: 100%;
    margin: 0;

    background-color: $secondary-background-color;
  }
}

@media (min-width: $desktop-width) {
  .personal-data {
    @include reset-indents;

    padding-top: 67px;
    padding-bottom: 19px;
  }

  .personal-data__wrap {
    width: 700px;
  }

  .personal-data__field {
    padding-left: 18px;
  }

  .personal-data--single-field {
    padding-top: 47px;
    padding-bottom: 50px;
  }

  .personal-data--single-field__wrapper {
    padding-right: 175px;
  }

  .personal-data__svg {
    &--phone {
      right: 8px;
    }

    &--mail {
      right: 4px;
    }
  }
}
