.production-process {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 58px;
  padding-bottom: 32px;

  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production-process__title {
  display: flex;
  align-items: center;

  @include reset-indents;
  padding-top: 23px;
  padding-left: 33px;
  padding-bottom: 24px;
  padding-right: 5px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $dark-font-color;

  &::before {
    content: "";

    flex-shrink: 0;

    display: block;

    width: 32px;
    height: 32px;
    margin-top: -4px;
    margin-right: 24px;

    background: url("../img/icon-video.svg") left bottom;
    background-size: cover;
  }
}

.production-process__video {
  width: 100%;
  height: 150px;

  background: url("../img/icon-play.svg") no-repeat center center, url("../img/video-mobile@1x.jpg");
}

.production-process__description {
  @include reset-indents;
  padding-top: 27px;
  padding-right: 34px;
  padding-bottom: 25px;
  padding-left: 33px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $grey-font-color;
}

.production-process__button {
  width: 192px;
}

@media (min-width: $tablet-width) {
  .production-process {
    display: flex;
    flex-direction: column;

    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 63px;
    padding-bottom: 45px;
  }

  .production-process__title {
    padding-top: 36px;
    padding-left: 41px;
    padding-bottom: 2px;
    padding-right: 5px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      margin-top: -2px;
      margin-right: 32px;
    }
  }

  .production-process__video {
    height: 455px;
    order: -1;

    background: url("../img/icon-play.svg") no-repeat center center, url("../img/video-tablet@1x.jpg");
  }

  .production-process__description {
    padding-top: 27px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 39px;

    font-size: 15px;
    line-height: 30px;
  }

  .production-process__button {
    width: 584px;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    position: relative;

    min-height: 455px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 103px;
    padding-left: 682px;
    padding-bottom: 0;
  }

  .production-process__title {
    flex-direction: column;
    align-items: flex-start;

    padding-top: 43px;
    padding-right: 51px;
    padding-bottom: 33px;
    padding-left: 77px;

    &::before {
      margin-bottom: 22px;
    }
  }

  .production-process__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 682px;
    height: 455px;

    background: url("../img/icon-play.svg") no-repeat center center, url("../img/video-desktop@1x.jpg");
  }

  .production-process__description {
    padding-top: 0;
    padding-right: 5px;
    padding-bottom: 46px;
    padding-left: 77px;
  }

  .production-process__button {
    width: 230px;
    margin-left: 79px;
  }
}
