.site-list {
  @include reset-indents;

  list-style: none;
}

.site-list__item {
  @include reset-indents;

  &--new,
  &--sale {
    display: none;
  }
}

.site-list__link {
  display: block;

  box-sizing: border-box;

  min-height: 79px;
  padding-top: 26px;
  padding-left: 75px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $dark-font-color;

  border-bottom: 1px solid #ececec;

  &:hover {
    color: rgba($dark-font-color, 0.6);
  }

  &:active {
    color: rgba($dark-font-color, 0.3);
  }
}

.site-list__item--search .site-list__link {
  background: url("../img/icon-search.svg") no-repeat 32px 31px;
}

.site-list__item--cart .site-list__link {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 29px;
    left: 31px;

    width: 20px;
    height: 19px;

    background: url("../img/icon-cart.svg") no-repeat;
  }
}


@media (min-width: $tablet-width) {
  .site-list {
    position: relative;
    display: flex;

    &::after {
      content: "";

      display: block;

      position: absolute;
      left: -50px;
      right: -50px;
      bottom: 0;
      height: 1px;

      background: #dfdfdf;
    }
  }

  .site-list__item {
    height: 89px;
  }

  .site-list__link {
    min-height: 30px;

    @include reset-indents;

    border: none;
  }

  .site-list__item--catalog {
    margin-right: 14px;
    margin-top: 106px;
    margin-bottom: -106px;
  }

  .site-list__item--catalog .site-list__link {
    width: 153px;

    font-size: 15px;
  }

  .site-list__item--order {
    margin-top: 106px;
    margin-bottom: -106px;
  }

  .site-list__item--order .site-list__link {
    width: 153px;

    font-size: 15px;
  }

  .site-list__item--search {
    margin-left: auto;

    border-left: 1px solid #e7e7e7;
  }

  .site-list__item--search .site-list__link {
    width: 82px;
    height: 88px;

    background-position: 33px 37px;
  }

  .site-list__search-label {
    display: none;
  }

  .site-list__item--cart {
    box-sizing: border-box;

    width: 265px;

    border-left: 1px solid #e7e7e7;
  }

  .site-list__item--cart .site-list__link {
    margin-top: 31px;
    margin-left: 27px;
    padding-left: 55px;

    &::before {
      top: 4px;
      left: 4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-wrap: wrap;

    &::after {
      bottom: 89px;
    }
  }

  .site-list__link {
    margin-top: 31px;
  }

  .site-list__item--catalog {
    box-sizing: border-box;

    width: 185px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    border-right: 1px solid #e7e7e7;
  }

  .site-list__item--catalog .site-list__link {
    font-size: 17px;
  }

  .site-list__item--order {
    box-sizing: border-box;

    margin-top: 0;
    margin-bottom: 0;
    margin-right: 250px;
  }

  .site-list__item--order .site-list__link {
    width: 185px;
    margin-left: 34px;

    font-size: 17px;
  }

  .site-list__item--search .site-list__link {
    margin-top: 0;
  }

  .site-list__item--cart {
    width: 267px;
  }

  .site-list__item--new {
    width: 220px;
  }

  .site-list__item {
    &--new,
    &--sale {
      display: inline-block;
    }
  }

  .site-list__item--new .site-list__link {
    margin-top: 17px;
    font-size: 15px;
  }

  .site-list__item--sale .site-list__link {
    margin-top: 17px;
    font-size: 15px;
  }
}
