.social__list {
  display: flex;
  justify-content: space-between;

  width: 142px;

  @include reset-indents;

  margin: 0 auto;
  margin-bottom: 27px;

  list-style: none;

  transform: translateX(-3px);
}

.social__item {
  @include reset-indents;
}

.social__link {
  display: block;
  width: 23px;
  height: 28px;

  &--instagram {
    background: url("../img/icon-insta.svg") no-repeat right 50%;
  }

  &--facebook {
    background: url("../img/icon-fb.svg") no-repeat 50% 50%;
  }

  &--twitter {
    background: url("../img/icon-twitter.svg") no-repeat left 50%;
  }
}
