.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 142px;

  @include reset-indents;

  margin: 0 auto;
  margin-bottom: 27px;

  list-style: none;

  transform: translateX(-3px);
}

.social__item {
  @include reset-indents;
}

.social__link {
  display: block;
  width: 23px;
  height: 28px;

  color: #231f20;

  &:hover .social__link-svg {
    color: #46c1ae;
  }

  &:active .social__link-svg {
    opacity: 0.3;
  }
}
