.block-title {
  display: flex;
  align-items: center;

  @include reset-indents;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $bright-font-color;

  &::after {
    content: "";

    width: 100%;
    height: 1px;
    margin-left: 25px;

    background-color: $bright-background-color;
  }

  span {
    flex-shrink: 0;
  }
}
